@using MyAccountingBook.Models.Enum;

@helper InOutColor(string InOutType)
{
if (@InOutType == ((int)InOutList.Expenditure).ToString())
{
        <span style="color: red;">支出</span>
}
else
{
        <span style="color: blue;">收入</span>
}
}