@using MyAccountingBook.Models.Enum;

@helper InOutColor(string InOutType)
{
//因Enum中，支出編號為1，收入編號為2。但DB中支出編號為0，收入編號為1。
var ChangeCode = ((int)InOutList.Expenditure) == 1 ? "0" : "1";

    if (@InOutType == ChangeCode)
    {
        <span style="color: red;">支出</span>
    }
    else
    {
        <span style="color: blue;">收入</span>
    }
}